<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Vignesh Ramesh</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/about">About
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog/posts">Blog</a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </li> --}}
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/signin">Signin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/signup">Signup</a>
        </li>        
        {{!-- <li class="nav-item">
          <a class="nav-link" href="#">User controls</a>
            //Dropdown containing
            //Logout 
            //User profile option
            //Create a post link if user is admin.
        </li> --}}
      </ul>
    </div>
  </div>
</nav>