	<footer class="page-footer  teal">
		<div class="container">
			<div class="row">
				<div class="col m6 s12">
					<h5 class="white-text">Food for thought</h5>
					<blockquote class="grey-text text-lighten-4" id="quote">
						The biggest risk is not taking any risk... In a world that changing really quickly, the only strategy that is guaranteed to fail is not taking risks.
					</blockquote>
				</div>
				<div class="col m4 offset-m2 s12">
					<h5 class="white-text">Quick Links</h5>
					<div class = "row">
						<div class="col s6">
							<ul> 
								<li><a href="/" id = "link">About</a></li>
								<li><a href="https://medium.com/@vigneshramesh_24413" target = "_blank">Blog</a></li>
								<li><a href="/testimonials" >Testimonials</a></li>
								<li><a href="/contact" id = "link">Contact</a></li>
								<li><a href="/resume">Resume</a></li>

							</ul>
						</div>
						<div class="col s6">
							<ul>
								<li><a href="/web-apps">Web apps</a></li>
			 				    <li><a href="/games">Games</a></li>
			  					<li><a href="/artwork">Artwork</a></li>
			  					<li><a href="/logos">Logos</a></li>
								<li><a href="/music">Music</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				<div class="row">
					<div class="col m6 s12">
						Made by <a class="blue-text text-lighten-3" href="http://www.vigneshramesh.in">Vignesh Ramesh</a>
					</div>
					<div class="col m6 s12">
						<span class="social">
							<a href="http://www.facebook.com/techieVignesh" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
							<a href="http://www.twitter.com/techieVignesh" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
							<a href="http://www.linkedin.com/in/techievignesh" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
							<a href="https://plus.google.com/+vigneshramesh1" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
							<a href="http://www.github.com/vramazing" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
							<a href="https://www.freecodecamp.org/vramazing" target="_blank"><i class="fa fa-free-code-camp" aria-hidden="true"></i></a>
							<a href="https://www.youtube.com/channel/UCP1fHlPgU82DA9sPZkl7B3g" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
							<a  href="https://techievignesh.itch.io" target="_blank"><i class="fa-itch-io " aria-hidden="true" ></i></a>
							<a href="https://soundcloud.com/vramazing" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</footer>
	</div>
	<link href="https://fonts.googleapis.com/css?family=Roboto|Lobster+Two|Lato" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="styles/itch.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1&appId=477623965988258&autoLogAppEvents=1';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="./scripts/main.js"></script>	
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.core.min.js"></script>
</body>
</html>
