<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A simple blog made using node.js, express, mongodb">
    <meta name="author" content="vignesh ramesh">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/default.css" rel="stylesheet"/>
    <link rel='stylesheet' href='/stylesheets/header.css' rel="stylesheet"/>
    <link rel='stylesheet' href='/stylesheets/footer.css' rel="stylesheet"/>
    {{#if style}}
    <link rel='stylesheet' href='/stylesheets/{{style}}' rel="stylesheet"/>
    {{/if}}
    {{!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/> --}}
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  </head>
  <body>
    {{>header}}
    <div class="main-content">
      {{{body}}}
    </div>
    {{>footer}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/javascripts/header.js"></script>
    <script src="/javascripts/{{script}}"></script>

  </body>
</html>
