<div class="container">
  {{!-- Errors --}}
  <form name="post-form" method="post" action="">
    <div class="form-group">
      <label for="contact-email">Email*</label>
      <input type="text" class="form-control" id="login-email" placeholder="Enter your email">
    </div>

    <div class="form-group">
      <label for="login-password">Enter password*</label>
      <input type="password" class="form-control" id="login-password" placeholder="Enter your password" />
      <i class="fa fa-eye passwd-eye" toggle="#login-password" aria-hidden="true"  style="display: none"></i>
      <i toggle="#login-password" class="fa fa-eye-slash passwd-eye" aria-hidden="true" ></i>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="login-remember">
      <label class="form-check-label" for="login-remember">Remember me</label>
    </div>

    
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="button" class="btn btn-primary">Login</button>
  </form>
</div>
