<h1>User profile</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Avatar</th>
      <th scope="col">Name</th>
      <th scope="col">Profession</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="{{user.avatar}}" alt="avatar image" height="40px" width="40px"></td>
      <td>{{user.name}}</td>
      <td>{{user.profession}}</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>
</table>