<div class="container">
  <h4 class="mb-4">Signup to create your personal account</h4>
  
  {{#if hasErrors }}
    <div class="alert alert-danger">
      {{#each messages}}
        {{this}}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      {{/each}}
    </div>
  {{/if }}

  {{!-- Need to add csrf token to action url due to issue of multer not working with csurf --}}
  <form name="post-form" method="post" action="/users/signup?_csrf={{csrfToken}}" class="signup-post-form"  enctype="multipart/form-data">
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text icon-label-group"><i class="fa fa-user"></i><span class="label-input">Name</span></span>
      </div>
        <input name="name" class="form-control" placeholder="Enter Full name" type="text">
    </div> <!-- form-group// -->

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text icon-label-group"> <i class="fa fa-envelope"></i> <span class="label-input">Email</span></span>
		  </div>
      <input name="email" class="form-control" placeholder="Enter Email address" type="email" /> 
    </div> <!-- form-group// -->

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text icon-label-group"><i class="fa fa-lock"></i><span class="label-input">Password</span></span>
		  </div>
      <input class="form-control" placeholder="Enter password" type="password" id="login-password" name="password">
      <i class="fa fa-eye passwd-eye" toggle="#login-password" aria-hidden="true"  style="display: none"></i>
      <i class="fa fa-eye-slash passwd-eye" toggle="#login-password" aria-hidden="true" ></i>
    </div> <!-- form-group// -->

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text icon-label-group"> <i class="fa fa-lock"></i><span class="label-input">Password</span></span>
		  </div>
        <input class="form-control" placeholder="Re-enter password" type="password" id="login-confirm-password" name="confirm-password">
        <i class="fa fa-eye passwd-eye" toggle="#login-confirm-password" aria-hidden="true"  style="display: none"></i>
        <i class="fa fa-eye-slash passwd-eye" toggle="#login-confirm-password" aria-hidden="true" ></i>
    </div> <!-- form-group// -->
    
    <div class="form-group input-group">
    	<div class="input-group-prepend ">
		    <span class="input-group-text icon-label-group"> <i class="fa fa-building"></i><span class="label-input">Profession</span></span>
		  </div>
      <select class="form-control" name="profession">
        <option selected=""> Select profession</option>
        <option value="Designer">Designer</option>
        <option value="Programmer">Programmer</option>
        <option value="HR">HR</option>
        <option value="HR">Manager</option>
        <option value="Others">Others</option>
      </select>
    </div> <!-- form-group end.// -->

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text icon-label-group"> <i class="fa fa-picture-o" aria-hidden="true"></i><span class="label-input">Avatar</span></span>
		  </div>
        <input class="form-control" placeholder="Re-enter password" type="file"  name="avatar" style="font-size:14px;">
    </div> <!-- form-group// -->
    
 
    <p>Already have an account. <a href="/users/signin">Sign in</a></p>
   
    <br />

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button type="submit" class="btn btn-primary btn-block">Create account</button>
  </form>
</div>
