<div class="container success-mail">
	<div class="row">
	    <div class="col-sm-12">
		    <h1 class="text-success"><i class="fa fa-check"></i> Success! Your message has been sent.</h1>
		</div>
		<div class="col-sm-12">
		    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>Take Me Home </a>
		</div>
    </div>
</div>