html{
  height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* height: 100vh;
  display: flex;
  flex-direction: column; */
}

/* .main-content {
  flex: 1 1 auto;
}

a {
  color: #00B7FF;
} */
