<div> <!--contact-->
  <div class="container-fluid white" id="Contact">
    <div class="container contact" style="padding-top: 80px;">
      <div class="row ">
        <div class="col s12">
          <center>
            <img src="images/pro3.png" height="200" alt="contact_vignesh" style="margin:auto">
          </center>
          <br>
          <p class="center grey-text touch">Get in touch for a proposal</p>
        </div>
      </div>

      <br >
      <br >

      <div class="row">
        <form class="col s12" action="https://formspree.io/techie.vigneshramesh@gmail.com"  method="Post">
          <div class="row">
            <div class="input-field col m6 s12">
              <input id="name" name="name" type="text" class="validate" >
              <label for="name" class="teal-text">Name</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="email" name="email" type="text" class="validate">
              <label for="last_name" class="teal-text">Email</label>
            </div>
          </div>


          <div class="row">
            <div class="input-field col s12">
              <textarea id="message" name="message" class="materialize-textarea "></textarea>
              <label for="message" class="teal-text">Message</label>
            </div>
          </div>

          <button class="btn waves-effect waves-light" type="submit" name="action">Send
            <i class="fa fa-paper-plane" aria-hidden="true" style = "margin-left:10px;"></i>

          </button>
        </form>
      </div>



    </div>
</div></div>