*{
	padding:0px;
	margin:0px;
	font-size:16px;
	font-family: 'Lato', sans-serif;
}

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$big-medium-screen-up: 1100px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$big-medium-and-up: "only screen and (min-width : #{$big-medium-screen-up})" !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

@mixin column-count($ct) {
  -webkit-column-count: $ct;
  -moz-column-count: $ct;
  column-count: $ct;
}

.cards-container {
  column-break-inside: avoid;
  .card {
    display: inline-block!important;
    overflow: visible;
  }
}

@media #{$medium-and-down} {
  footer{
    span.social{
      float:none;
    }
  }
}

@media #{$small-and-down} {
  .cards-container {
    @include column-count(1);
  }
  .container.contact{
	  padding:0px 10px 30px 10px!important;
  }
  .section.portfolio{
    padding:20px 10px 10px 10px;
  }
}

@media #{$medium-and-up} {
  .cards-container {
    @include column-count(2);
  }
}

@media #{$large-and-up} {
  .cards-container {
    @include column-count(3);
  }
}

nav{
	div >a , div>ul>li>a{
    color:#585858;
	}
	.brand-logo{
    margin-top:10px;
  }
}

ul.collapsible > span{
  margin-left: 15px;
  color:#585858;
}

.collapsible-header>span{
  margin-left: 15px;
  color:#585858;
  font-size:14px;
}

overflow-yh{
  overflow-y:hidden;
}

.collapsible-body{
  span{
    color:#575757;
    font-size:13.5px;
    margin-left: 50px;
  }
}

div.nav-wrapper.container.right.hide-on-med-and-down{
	position:absolute!important;
	top:0;
}

#slide-out li a, nav ul li a, #portfolio-dropdown li a, #resume-dropdown li a{
  &:hover{
    border-bottom: 2px solid #02BBD3;
    box-sizing: border-box;
  }
}

.dropdown-trigger{
  outline: none!important;
}

a#link.dropdown-trigger:hover{
  border-bottom:none;
}

#resume-dropdown,#portfolio-dropdown {
  overflow-y: hidden;
}

#nav-mobile .active, #slide-out  .active{background: #e4e4e4;}

#portfolio-dropdown,#resume-dropdown{
  li {
    padding: 2px;
    margin: 0px;
    a{
      color: #585858!important;
      border:none;
      font-size:14px;
      box-sizing: border-box;
    } 
  } 
}

#Home{
    background-color: #242D47;
  	background-image: url(../images/Background1.jpg);
  	height: 490px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section.no-pad-bot{
	text-shadow: 2px 1px 1px #000;
	margin-top:40px;
	h1{
		font-family: 'Lobster Two', sans-serif;
	}
}

.container-fluid.quote{
	padding:20px;
	p{
		font-size: 20px;
		font-style: italic;
	}
}

.container .section.about{
	p{
		font-size: 20px;
		span{
			font-size: 20px;
		}
		a{
			font-size: 20px;
		}
	}
  .profilePic{
    border:10px solid #efefef;
    border-radius:50%;
    box-shadow: 1px 1px 1px #acacac;
  }
}

.portfolio{
	padding:40px 60px 60px 60px;
	h5{
		font-size: 22px;
		font-style: italic;
	}
	.card {
	  margin:10px;
    margin-bottom:25px;
     .techUsed{margin-top: 10px;}
     .card-link a{margin-left: 2px;}
     .role{
        margin:6px 0 6px 0;
        span{
          padding:5px;
          margin:3px;
          border-radius: 5px;
          display:inline-block;
          line-height: 20px;
        }
      }
      .projects{
         height:15px;
      }
	 }
}

//LOGO STYLES

.logo-container{
  box-sizing: border-box;
  padding: 60px;
  margin: 40px auto!important;  

  .logos.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    align-content: center;

    .image-container{
      position: relative;
      max-width: 350px;
      display: block;
    }

    .logo-image{
      width: 100%;
      height:auto;
      border: 2px solid #e1e1e1;
      display: block;
    }
  }

  .overlay{
    background: rgba(0,0,0,0.4);
    color:white;
    position: absolute;
    max-width: 184px;
    width: 100%;
    align-self: center;

  }
}

//Art styles
/* Create four equal columns that sits next to each other */
.art-row {
    display: -ms-flexbox!important; /* IE10 */
    display: flex!important;
    -ms-flex-wrap: wrap!important; /* IE10 */
    flex-wrap: wrap!important;
    padding: 0 50px; 
}

.art-column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 7px;
}

.art-column img {
    margin-top: 14px;
    vertical-align: middle;
    background-color:#a0a0a0;
}

@media screen and (max-width: 992px) {
    .art-column {
        -ms-flex: 33.33%;
        flex: 33.33%;
        max-width: 33.33%;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 768px) {
    .art-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 480px) {
    .art-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

//Technology styles
.section.technology{
	h4{font-size: 25px;}
	.row{
		column-width: 150px;
		column-gap: 30px;
	  width: 80%;
		max-width: 1290px;
		margin: 50px auto;
	}
}

//Contact
.container.contact{
	padding:0px 80px 80px 80px;
}

p.center.grey-text.touch{
		font-size: 22px;
		font-style: italic;
		font-weight: bold;
}

footer li a,footer a{
  color:white;
  &:hover{
    text-decoration: underline;
  }
}

span.social{
  float:right;
  select:none;
  // text-align: right;
	i{
		font-size:30px;
		color:white;
		padding:2px;
		&:hover{
			color:#acacac;
		}
	}
}

.fa-itch-io{
   position:relative;
   top:3px;
   font-size:32px!important;
}

#cross-btn{
  float:right;
  font-size: 20px;
  padding: 5px 10px;
  color: black;
  cursor: pointer;
}

#cross-btn:hover{
  color: #acacac;
}

.download-toast{
  background-color: #9ccc65;
}

.nav-fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0;
  z-index: 997;
}

.scroll-arrow{
  i{
    animation: MoveUpDown 1s linear infinite;
    margin-top:30px;
    select: none;
  }
  &:hover{
   opacity: 0.5;
 }
}

blockquote{
  margin: 20px 0 20px 0;
  padding-left: 20px;
  color:white;
  border-left: none; /* Just change the color value and that's it*/
  footer{
    font-weight:700;
    color:white;
    margin-top: 5px;
  }
  .fa-1x{
    font-size: 25px;
    margin-right:5px;
  }
}

.grid-row {
  display: flex!important;
  flex-wrap: wrap;
  padding: 2 2px;
  flex-basis: column;
}

/* Create two equal columns that sits next to each other */
.grid-column {
  flex: 12.5%!important;
  padding: 0 2px;
  img {
    margin-top: 8px!important;
    vertical-align: top!important;
  }
}

///Animated button
@keyframes MoveUpDown {
  0% {
    margin-top:30px;
  }
  50% {
    margin-top:50px;
  }
  100% {
    margin-top:30px;
  }
}

@media only screen and (max-width:1029px){
  .logo-container{
    margin: 30px auto!important;  
    .logos.grid{
      grid-template-columns: repeat(4, 1fr);
    }
  }  
}

@media only screen and (max-width: 878px){
  .logo-container{
    margin: 20px auto!important;  
    .logos.grid{
      grid-template-columns: repeat(3, 1fr);
    }
  }  
}
@media only screen and (max-width:668px){
  .logo-container{
    margin: 10px auto!important;  
    .logos.grid{
      grid-template-columns: repeat(2, 1fr);
    }
  }  
}

@media only screen and (max-width:480px){
  .logo-container{
    margin: 5px auto!important;  
    .logos.grid{
      grid-template-columns: repeat(1, 1fr);
    }
  }  
}

