<div class="container">
  <h4 class="mb-4">Create a new post</h4>
  {{#if hasErrors }}
    <div class="alert alert-danger">
      {{#each messages}}
        {{this}}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      {{/each}}
    </div>
  {{/if }}

   {{!-- Need to add csrf token to action url due to issue of multer not working with csurf --}}
  <form name="create-post-form" method="post" action="/blog/posts/new?_csrf={{csrfToken}}" class="create-post-form"  enctype="multipart/form-data">
    <!-- Title -->
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text icon-label-group"><i class="fa fa-header"></i><span class="label-input">Post title</span></span>
      </div>
      <input name="title" class="form-control" placeholder="Enter post title" type="text" required />
    </div> 

    <!-- Description -->
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text icon-label-group"><i class="fa fa-paragraph"></i><span class="label-input">Post content 1</span></span>
      </div>
      <textarea name="content" class="form-control" placeholder="Enter post content" rows="8" required></textarea>
    </div>

    <!-- Tags -->
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text icon-label-group"><i class="fa fa-archive"></i><span class="label-input">Category</span></span>
      </div>
      <select class="form-control" id="post-tags" name="category">
        <option value="technology">Technology</option>
        <option value="life">Life</option>
        <option value="entrepreneurship">Entrepreneurship</option>
      </select>
    </div>

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text icon-label-group"><i class="fa fa-picture-o" aria-hidden="true"></i><span class="label-input">Thumbnail image</span></span>
		  </div>
      <input class="form-control" type="file"  name="thumbnail" style="font-size:14px;" required>
    </div> <!-- form-group// -->
    
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button type="submit" class="btn btn-primary btn-block">Create post</button>
    
  </form>
</div>