<div class="container">
  <form name="post-form" action="post">
    <div class="form-group">
      <label for="post-title">Post title*</label>
      <input type="text" class="form-control" id="post-title" placeholder="Enter your post tile">
    </div>

    <div class="form-group row">
      <label for="post-author" class="col-sm-2 col-form-label">Author</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="post-author" value="James gunn">
      </div>
    </div>
    
    <div class="form-group">
      <label for="post-content">Enter post content*</label>
      <textarea class="form-control" id="post-content" rows="8"></textarea>
    </div>

    <div class="form-group">
      <label for="post-tags">Select category(multiple allowed)</label>
      <select multiple class="form-control" id="post-tags">
        <option>Technology</option>
        <option>Life</option>
        <option>Entrepreneurship</option>
      </select>
    </div>

    <div class="form-group">
      <label for="post-thumbnail-image">Select a thumbnail image</label>
      <input type="file" class="form-control-file" id="post-thumbnail-image">
    </div>

    
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="button" class="btn btn-primary">Create post</button>
  </form>
</div>